@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;700&display=swap');

body {
    color: white;
    padding: 5% 25% 10% 25%;
    background-color: white;
    background-image: url(images/bio-extended.jpg);
    background-attachment: fixed;
}

h2 {
    padding: 20px 30px;
    font-weight: 700;
}

img {
    display: block;
    max-width: 60%;
    margin: 0 auto;
}

